*{
    margin: 0;
    padding: 0;
}
.main-container{
    background : url("./car.gif");
    background-repeat: no-repeat;
opacity: .8;
    background-size: cover;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
cursor: pointer;
}
.header{
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color: rgb(192, 213, 29);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;

     
}
.year {
    font-size: 5em;
    color: white;
    font-weight: 600;
}
.countdown{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 120px;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 200px;
}  
.countdown div{
    margin: -25px 15px;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: -25px;
    line-height: 25px;
    position: relative;
    justify-content: space-around;
    display: flex;
    text-align: center;
    width:10%;
}
.countdown div::before{
    position: absolute;
    bottom: -37px;
    font-size: .45em;
    letter-spacing: 1px;
}
.countdown #days::before{
    content:"Days"
}
.countdown #hours::before{
    content:"hours"
}
.countdown #minutes::before{
    content:"minutes"
}
.countdown #seconds::before{
    content:"seconds"
}